<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.infiniteerp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon_app"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.InfiniteERP"
        android:usesCleartextTraffic="true"
        tools:targetApi="30">
        <activity
            android:name=".home.HomeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <!--        <activity-->
        <!--            android:name=".approval.postapproval.PostModalActivtiy"-->
        <!--            android:exported="false" />-->
        <activity
            android:name=".approval.line.DetailLineActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".approval.line.LineActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".approval.DetailApprovalActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".approval.ApprovalActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".forgotpass.NewPassActivity"
            android:exported="false" />
        <activity
            android:name=".forgotpass.ForgotPassActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>